/* Default (light mode) */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

/* Dark mode */
body.dark-mode {
    --background-color: #333333;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
}

.declaration {
    margin-right: 55px;
    font-size: 28px;
}

.declaration span {
    font-size: 32px;
    font-weight: bold;
    color: chartreuse;
    text-decoration: uderline;
    display: flex;
    flex-direction: row-reverse;
}

.nav a {
    text-decoration: none;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    margin-left: 10px;
    margin-bottom: 50px;
}

.nav a:hover {
    transition: 0.3s;
    text-decoration: underline;
    margin-left: 20px;
}

.ars {
    text-decoration: none;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ars:hover {
    transition: 0.3s;
    text-decoration: underline;
    margin-right: 20px;
}
