/* Default (light mode) */

:root {
    --background-color: #ffffff;
    --text-color: #000000;
}


/* Dark mode */

body.dark-mode {
    --background-color: #333333;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    direction: rtl;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
}

.declaration {
    margin-right: 55px;
    font-size: 28px;
}

.declaration span {
    font-size: 32px;
    font-weight: bold;
    color: chartreuse;
    text-decoration: uderline;
    display: flex;
    flex-direction: row-reverse;
}

.nav a {
    text-decoration: none;
    display: flex;
    color: var(--text-color);
    justify-content: end;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    margin-left: 10px;
    margin-bottom: 5px;
}

.nav a:hover {
    transition: 0.3s;
    color: var(--text-color);
    text-decoration: underline;
    margin-left: 20px;
}

.ars {
    display: block;
    background-color: yellow;
    color: black;
    margin-left: 1000px;
    margin: 30px;
    border-radius: 20%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    font-weight: bolder;
    
}

.ars:hover {
    background-color: darkblue;
    color: white;
    font-weight: bolder;
}

.jh {
    right: 0;
    font-size: 32px;
    font-weight: bold;
    color: chartreuse;
    transition: 0.3s;
}

.jh:hover {
    right: 0;
    display: block;
    display: inline-block;
    margin-left: 2px;
    color: var(--background-color);
    font-size: 24px;
    padding: 10px;
    border-radius: 20%;
    background-color: var(--text-color);
}

.a2 {
    display: block;
    background-color: yellow;
    color: black;
    margin-left: 1200px;
    border-radius: 20%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
}

.a2:hover {
    background-color: cyan;
    color: black;
}
