/* Default (light mode) */
/* :root {
    --background-color: #ffffff;
    --text-color: #000000;
} */

/* Dark mode */
body.dark-mode {
    --background-color: #333333;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.a {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    color: red;
}

li a {
    text-decoration: none;
    color: orange;
    margin-left: 35px;
    transition: 0.3s;
}

li a:hover {
    text-decoration: underline;
    margin-left: 35px;
    padding: 10px;
    color: yellow;
    transition: 0.3s;
}

.back {
    text-decoration: none;
    color: blue;
    margin-right: 35px;
    padding: 10px;
    font-size: 32px;
    transition: 0.3s;
    display: flex;
    flex-direction: row-reverse;
}

.back:hover {
    text-decoration: underline;
    color: purple;
    margin-right: 35px;
    padding: 10px;
    font-size: 32px;
    transition: 0.3s;
    display: flex;
    flex-direction: row-reverse;
}

img {
    margin-left: 50px;
    margin-top: 10px;
    width: 100px;
    height: 150px;
    border-radius: 0;
    transition: 2s;
}

img:hover {
    transition: 2s;
    border-radius: 200%;
}

.d {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    color: green;
}

.p {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    color: cyan;
}


footer {
    margin-top: 120px;
    text-align: center;
    bottom: 0;
}
