body {
    background-color: #333;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    color: white;
}

li a {
    text-decoration: none;
    color: white;
    margin-left: 35px;
    transition: 0.3s;
}

li a:hover {
    text-decoration: underline;
    margin-left: 35px;
    padding: 10px;
    color: white;
    transition: 0.3s;
}

.back {
    text-decoration: none;
    color: white;
    margin-left: 35px;
    padding: 10px;
    transition: 0.3s;
}

.back:hover {
    text-decoration: underline;
    color: white;
    margin-left: 35px;
    padding: 10px;
    transition: 0.3s;
}
