body {
    background-color: #333;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    color: red;
}

li a {
    text-decoration: none;
    color: orange;
    margin-left: 35px;
    transition: 0.3s;
}

li a:hover {
    text-decoration: underline;
    margin-left: 35px;
    padding: 10px;
    color: yollow;
    transition: 0.3s;
}

.back {
    text-decoration: none;
    color: blue;
    margin-left: 35px;
    padding: 10px;
    transition: 0.3s;
}

.back:hover {
    text-decoration: underline;
    color: purple;
    margin-left: 35px;
    padding: 10px;
    transition: 0.3s;
}

img {
    margin-left: 50px;
    margin-top: 10px;
    width: 100px;
    height: 150px;
}
