/* Default (light mode) */


/* :root {
    --background-color: #ffffff;
    --text-color: #000000;
} */


/* Dark mode */

body.dark-mode {
    --background-color: #333333;
    --text-color: #ffffff;
}

body {
    background-color: #333;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
}

.nav a {
    text-decoration: none;
    display: flex;
    color: #fff;
    justify-content: start;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    margin-left: 10px;
    margin-bottom: 10px;
}

.declaration {
    margin-left: 55px;
    font-size: 28px;
}

.declaration span {
    font-size: 32px;
    font-weight: bold;
    color: chartreuse;
    text-decoration: underline;
}

ul.u li {
    font-size: 28px;
}

.nav a:hover {
    transition: 0.3s;
    text-decoration: underline;
    margin-left: 20px;
}

.about_web {
    margin-left: 25px;
}

.about_web h2 {
    font-size: 32px;
}

.about_web a {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 20px;
    transition: 0.3s;
}

.about_web a:hover {
    text-decoration: none;
    margin-bottom: 80px;
    margin-top: 20px;
    font-size: 24px;
    transition: 0.3s;
    background-color: rgb(0, 0, 57);
    border-radius: 20%;
    padding: 10px;
}

.about_web a.action {
    color: orangered;
}

.about_web a.drama {
    color: green;
}

.about_web a.police {
    color: cyan;
}

.about_developers {
    margin-left: 25px;
}

.about_developers h2 {
    font-size: 32px;
}

.about_developers a.link {
    text-align: left;
    margin-left: 20px;
    font-size: 24px;
    transition: 0.3s;
    text-decoration: none;
}

.about_developers a.link:hover {
    text-align: left;
    margin-left: 35px;
    font-size: 24px;
    background-color: black;
    color: goldenrod;
    text-decoration: underline;
    transition: 0.3s;
}

div h2 u b {
    color: blue;
    font-size: 24px;
    margin-left: 25px;
    text-align: left;
}

.Birth {
    color: blue;
}

.s {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 20px;
    transition: 0.3s;
    margin-right: 80px;
    display: flex;
    justify-content: end;
}

.s:hover {
    text-decoration: none;
    margin-bottom: 80px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 28px;
    transition: 0.3s;
    display: flex;
    justify-content: end;
    background-color: #333;
    border-radius: 20%;
    padding: 10px;
}

span p {
    font-size: 24px;
}

ul li {
    color: red;
    font-weight: bold;
}

.about_books {
    font-size: 24px;
    margin-left: 20px;
}

.books {
    text-decoration: none;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    transition: 0.3s;
}

.books:hover {
    text-decoration: underline;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    transition: 0.3s;
}

.bookss {
    text-decoration: none;
    margin-left: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.bookss:hover {
    text-decoration: underline;
    margin-left: 20px;
    display: flex;
    flex-direction: row-reverse;
}

footer {
    margin-top: 120px;
    text-align: center;
    bottom: 0;
}

div h2 u b {
    color: blue;
    font-size: 24px;
    margin-left: 25px;
    text-align: left;
}

.Birth {
    color: blue;
}

.B {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 20px;
    transition: 0.3s;
    margin-right: 80px;
    display: flex;
    justify-content: end;
}

.B:hover {
    text-decoration: none;
    margin-bottom: 80px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 28px;
    transition: 0.3s;
    display: flex;
    justify-content: end;
    background-color: #333;
    border-radius: 20%;
    padding: 10px;
}

span p {
    font-size: 24px;
}

ul li {
    color: red;
    font-weight: bold;
}

.contact {
    margin-top: 10px;
}

.ar {
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    text-decoration: none;
    color: var(--text-color);
}

.ar:hover {
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    text-decoration: none;
    color: var(--text-color);
}

.jh {
    display: block;
    display: inline-block;
    text-decoration: none;
    margin-left: 40%;
    color: goldenrod;
    font-size: 150%;
    transition: 0.3s;
}

.jh:hover {
    display: block;
    display: inline-block;
    text-decoration: underline;
    margin-left: 41%;
    color: var(--background-color);
    font-size: 180%;
    padding: 10px;
    border-radius: 20%;
    background-color: var(--text-color);
}
