/* Default (light mode) */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

/* Dark mode */
body.dark-mode {
    --background-color: #333333;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.yes {
    text-decoration: none;
    color: white;
    background-color: green;
    margin-left: 150px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1px;
    font-size: 60px;
}

.no {
    text-decoration: none;
    color: white;
    background-color: red;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1px;
    font-size: 60px;
}

.are {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 100px;
    margin-left: 200px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 150px;
    font-size: 60px;
}
