body {
    background-color: #333;
}

.yes {
    text-decoration: none;
    color: white;
    background-color: green;
    margin-left: 150px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 60px;
}

.no {
    text-decoration: none;
    color: white;
    background-color: red;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 60px;
}

.sure {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
