/* Default (light mode) */

:root {
    --background-color: #ffffff;
    --text-color: #000000;
}


/* Dark mode */

body.dark-mode {
    --background-color: #333333;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.main {
    display: block;
    background-color: yellow;
    color: black;
    margin-left: 1000px;
    border-radius: 20%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    padding : 10px 10px;
    font-weight:bolder;
}


.main:hover {
    background-color: darkblue;
    color:white;
    font-weight:bolder;
}
button {
    padding: 10px 20px;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    text-align: center;
    font-size: 42px;
}

.H {
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    text-decoration: none;
    color: var(--text-color);
}

.la {
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    text-decoration: none;
    color: var(--text-color);
}

.la:hover {
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    text-decoration: none;
    color: var(--text-color);
}

.ar {
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    text-decoration: none;
    color: var(--text-color);
}

.ar:hover {
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    text-decoration: none;
    color: var(--text-color);
}

.a2 {
    display: block;
    background-color: yellow;
    color: black;
    margin-left: 1300px;
    border-radius: 20%;
    transition: 0.3s;
    display: flex;
    justify-content: center
}

.a2:hover {
    background-color: cyan;
    color: black;
}
